<div class="banner">
  <div class="content">
    <div class="RangeRover" >
      <img src="https://s3-alpha-sig.figma.com/img/78e0/0004/7fd4f62cf3e00b6b333ab8a884d35fed?Expires=1687132800&Signature=fDsh0mP8JNP~fA92sOL2W008JEBF80CbROS6hhyUGIUkztyuRqVTn6bp2~OQs1j0JhybHiSNa8eioHoaEDmnYyXBzHHnjV0tv~k5U9j8i0NhQFkq2V-Niocka7TEn9TCZfllUqSK3nKerINcxgwzsbOJd6EuW-dnY11DwZ8vx4U3E0RUMVrulHV0MCdUkmiKtAOfURih8elf2pcYdUD02DnAsYxRIaQLowwW00cbVqZ~4MeJZSpoUVRQliS-q8NYNmKeKUMvLqijp8aXaoAEghYqQls90lJW73PGw6juX~5qHMNL3tMt~I3uCEbwf2FlZCEl4GKdymA5cdfuvcGb3A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" class="" alt="...">
   </div> 
   <div class="description">
    <h1>Safe, Faster and Confortable</h1>
    <p class="">Get in touch with our luxury car</p>
    <button type="submit" >Rent Now</button>
  </div> 
  </div>
  
  
  
</div>