body {
  position: absolute;
  width: 1234px;
  height: 71.92px;
  left: 121px;
  top: 33px;
}
.example-spacer {
  flex: 1 1 auto;
}

.spacer {
  flex: 1 1 auto;
}

p {
  text-align: end;
}

.mat-list-item {
  max-width: 500px;
}
