<div class="container">
  <div class="content">
    <div class="car">
      <img
        src="https://s3-alpha-sig.figma.com/img/b72d/ca95/e067bde2d3f8a080fa25ad6be28c3572?Expires=1687132800&Signature=Drcsyt2peOck-MbBB1cQiMLRvnjTx4C0b8B9nLUXdyqn6wHvweOXkcjZ3nJoCyMamVL2EZRxWgKz7lhvhZxQk0P90TT~eF-pLtPi1sDBdIcNkVfsZDMAeusaAI4ddAIxxb1P628q1lDBbx~IcrWxTP2O0nmNv~PrGAg5kFpiNlrAPcc8KLME07cwLhCqfnaYHJX1NCQVCzsvS5punv0RgI1PQkvZnCLm5IEY0S2bLn9sIxj0Ir1IMZ9b8vnNrodGsXRXdLGdm3bkXzp1yoiJpOBbmUf7Dl-9h5DAHsqdhDTA000rgwNpQokbzow5jInFXmH7qwbZ74uWjGhhDSU~~w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
      />
    </div>
    <div class="services">
      <h1 class="tittle">Our Services</h1>
      <div class="service1">
        <p>
         <b>Car hire</b>  <br>we pride ourselves in always going the extra mile for our
          customers.
        </p>
      </div>
      <div class="service2">
        <p>
          <b>Car sales</b> <br> we sale the best luxury cars across the world at a
          competitive price.
        </p>
      </div>
      <div class="service3">
        <p>
         <b>Hire a driver</b>  <br>you want to travel and fell confortable , our drivers
          are available.
        </p>
      </div>
    </div>
  </div>
</div>
