<div class="container">
  <h1>Feel the best experience with our luxury car</h1>
  <div class="info">
    <img
      src="https://static.vecteezy.com/system/resources/previews/000/442/530/original/information-vector-icon.jpg"
    />
    <h1>
      We know travel
    </h1>
    <p>With 10 years of experience, we're ready to help find your perfect car</p>
  </div>
  <div class="booking">
    <img src="https://cdn-icons-png.flaticon.com/512/2534/2534679.png" >
    <h1>Book with flexibility</h1>
    <p>Easily find car and book with no change fees.</p>
  </div>
  <div class="settings">
    <img src="https://www.freeiconspng.com/uploads/settings-icon-23.png" >
    <h1>Trusted and free</h1>
    <p>We`re completely free to use  no hidden charges or fees..</p>
  </div>
</div>
