<div class="container">
  <H1>We have everything you need</H1>
  <div class="cars">
    <div class="car1">
      <div class="carHeader1">
        <p class="tittle1">Dodge Charger</p>

        <img
          src="https://alcf.s3.us-west-1.amazonaws.com/_custom/2023/dodge/charger/2023-dodge-charger%20%281%29.png"
        />
      </div>
      <div class="carData">
        <p class="year1">2016</p>
        <p class="price1">$10.000</p>
        <button type="submit">Rent</button>
      </div>
    </div>
    <div class="car2">
      <div class="carHeader2">
        <p class="tittle2">Audi RS7</p>

        <img
          src="https://cdn.motor1.com/images/mgl/28Jxk/s1/4x3/fully-loaded-audi-rs7-sportback.webp"
        />
      </div>
      <div class="carData2">
        <p class="year2">2016</p>
        <p class="price2">$100.000</p>
        <button type="submit">Buy</button>
      </div>
    </div>
    <div class="car3">
      <div class="carHeader3">
        <p class="tittle3">Golf 8R</p>

        <img
          src="https://assets.auto-expert.md/assets/upload/blog/17130/GQolweT9gknpEEDJXyOX7GbW9u4ciMjfvXmWWaCn.jpeg"
        />
      </div>
      <div class="carData3">
        <p class="year3">2022</p>
        <p class="price3">$20.000</p>
        <button type="submit">Rent</button>
      </div>
    </div>
    <div class="car4">
      <div class="carHeader4">
        <p class="tittle4">Tesla</p>

        <img
          src="https://cdn.motor1.com/images/mgl/Mk3qg6/s3/2017-tesla-roadster-deck-model-petersen-automotive-museum.jpg"
        />
      </div>
      <div class="carData4">
        <p class="year4">2023</p>
        <p class="price4">$160.000</p>
        <button type="submit">Buy</button>
      </div>
    </div>
    <div class="brands">
      <h2>Our Luxury brand</h2>
      <div class="brand1">
        <p>Audi</p>
      </div>
      <div class="brand2">
        <p>Mercedes</p>
      </div>
      <div class="brand3">
        <p>Land Rover</p>
      </div>
      <div class="brand4">
        <p>Ferrari</p>
      </div>
      <div class="brand5">
        <p>Tesla</p>
      </div>
    </div>
    <h3>See the store</h3>
    <button type="button">Click Here</button>
  </div>
</div>
