<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Reservation</h4>
        <ul>
          <li><a href="#">Car Hire</a></li>
          <li><a href="#">Modify Or Cancell</a></li>
          <li><a href="#">Get A Receipt</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Costumer Services</h4>
        <ul>
          <li><a href="#">Help/Faqs</a></li>

          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Company</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Carrer</a></li>
          <li><a href="#">Report & Governance</a></li>
        </ul>
      </div>
      <div class="line">
        <h4>Luxury Car Rents</h4>
      </div>
    </div>
  </div>
</footer>
