body{
  position: relative;
width: 1440px;
height: 5230px;
background: #FFFFFF;
}
.content{
  position: absolute;
  width: 1296px;
  height: 375px;
  left: 74px;
  top: 960px;
  background: #C4C4C4;
  h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 84px;
   max-width: 754px;
    left: 120.32px;
    top: 887px;
    font-style: normal;
    border-radius: nullpx;
  font-size: 49px;
  font-weight: 600;
  justify-content: left;
  vertical-align: top;
  color: #081630;
  text-transform: capitalize;
  margin-left: 45px;
  margin-top: 23px;
  }
  p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 84px;
    width: 754.2377319335938px;
    left: 120.3216552734375px;
    top: 886px;
    border-radius: nullpx;
    justify-content: left;
    vertical-align: top;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.66);
    margin-left: 45px;
    margin-bottom: 55px;
   margin-top: -55px;
  }
input{
  height: 60px;
  width: 309.5445861816406px;
  left: 0px;
  top: 15px;
  border-radius: 26px;
  color: orange;
}
button{
  height: 60px;
width: 152.775146484375px;
left: 1062.7669677734375px;
top: 15px;
border-radius: 26px;
color: white;
background-color: #21408E
}
}